.headerCon {
  height: 100vh;
  width: 100vw;
  padding: 10px 10px 75px 10px;
}

.logo {
  position: absolute;
  z-index: 1;
  margin: 10px 0px 0px 10px;
}

.mainImgCon {
  position: relative;
  height: 100%;
  width: 100%;
}

.mainImage {
  object-fit: cover;
  border-radius: 10px;
}

.mainDetails {
  position: absolute;
  left: 50%;
  top: 30%;
  padding: 0 2rem 0 0;
  z-index: 1;
}

.mainDetails > h2 {
  color: white;
  font-weight: 200;
  margin-bottom: 60px;
  width: 80%;
  margin-top: 10px;
}

.mainDetails > h2 > span {
  display: inline-block;
  color: #b1c3cd;
  font-size: 24px;
}

@media (max-width: 1000px) {
  .mainDetails {
    padding: 0 3rem;
    top: 10rem;
  }
}

@media (max-width: 680px) {
  .mainDetails {
    left: 10rem;
  }
}

@media (max-width: 540px) {
  .mainDetails {
    left: 0;
    top: 15rem;
  }
}

@media (max-width: 450px) {
  .mainDetails {
    top: 12rem;
  }
}
